<div id="login-container" class="animation-fadeIn">
    <div class="login-title text-center">
        <img src="images/logo.png" style="height:84px">
        <h1 style="margin:10px 0px"><!-- <i class="gi gi-flash"></i> --> <!-- <strong>infoBus Login</strong> -->
        <!-- <img src="images/logo.png" height="100%"> -->
        </h1>
    </div>
    <div class="block push-bit">
        <form id="form-login" class="form-horizontal form-bordered form-control-borderless" ng-show="showDiv == 'login'">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="text" ng-model="login.userName" ng-focus="err.email=false;err.email_cdn=false;" id="login-userName" name="login-userName" class="form-control input-lg" ng-keyup="evaluateKey(login.userName)" placeholder="Email/UserId">
                        <div>
                            <span class="text-danger" ng-show="err.userName">Please enter User name </span>
                            <span class="text-danger" ng-show="err.userName_cdn">Please enter valid User name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-init="pswStatus = 'password'">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        <input type="{{pswStatus}}" ng-model="login.password" ng-focus="err.password=false;err.password_cdn=false;" id="login-password" name="login-password" class="form-control input-lg" placeholder="Password">
                        <span class="text-danger" ng-show="err.password">Please enter Password</span>
                        <span class="text-danger" ng-show="err.password_cdn">Please enter password of min. 6  and max. 10 characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-2">
                    <label class="switch switch-primary">
                        <input type="checkbox" id="login-remember-me" name="login-remember-me" checked ng-model="showPsw" ng-change="(showPsw) ? pswStatus = 'text' : pswStatus = 'password' ">
                        <span></span>
                    </label>
                </div>
                <div class="col-xs-4" id="forgotPsw">
                    <a href ng-click="showDiv = 'forgot'">forgot password??</a>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="adminLogin(login);"><i class="fa fa-angle-right"></i> Login to Dashboard</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
        <!-- Reminder Form -->
        <form method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless" ng-show="showDiv == 'forgot'">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="text" class="form-control input-lg" ng-focus="err1.email=false;err1.email_cdn=false;" placeholder="Email" ng-model="forgotObj.email" ng-keyup="evaluateKey(forgotObj.email)">
                        <div>
                            <span class="text-danger" ng-show="err1.email">Please enter email </span>
                            <span class="text-danger" ng-show="err1.email_cdn">Please enter valid email address</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-sm btn-primary" ng-click="resetPassword(forgotObj.email);"><i class="fa fa-angle-right"></i> Submit</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small ng-click="showDiv = 'login';forgotObj.email = ''">Login</small></a>
                </div>
            </div>
        </form>
        <!-- END Reminder Form -->
    </div>
    <!-- END Login Block -->
</div>
