<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <!-- <div class="form-group col-xs-6" ng-class="(err.CITY_ID == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="CITY_ID">City</label>
                <div>
                    <select class="form-control" size="1" ng-model="scrollText.CITY_ID" ng-class="(err.CITY_ID==true) ? 'justBorder' : '' ">
                        <option value="">Select City</option>
                        <option ng-repeat="city in citiesList" value={{city.id}}>{{city.name}}</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger" ng-show="err.CITY_ID">Please select city .</span>
                </div>
            </div> -->
            <div class="form-group col-xs-6" ng-class="(err.locId == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="locId">Location</label>
                <div>
                    <select class="form-control" size="1" ng-model="scrollText.locId" ng-class="(err.locId==true) ? 'justBorder' : '' " ng-options="location.locationId as location.name for location in busStationList" ng-focus="err.locId=false;">
                        <option value="">Select Location</option>
                        <!-- <option ng-repeat="location in busStationList" value={{location.locationId}}>{{location.name}}</option> -->
                    </select>
                </div>
                <div>
                    <span class="text-danger" ng-show="err.locId">Please select location.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-6" ng-class="(err.msgContent == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="msgContent">Message</label>
                <div>
                    <input type="text" ng-model="scrollText.msgContent" ng-focus="err.msgContent=false;" name="message" class="form-control" placeholder="Enter message..">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.msgContent">Please enter message.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.msgType == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="msgType">Type</label>
                <div>
                    <select class="form-control" size="1" ng-model="scrollText.msgType" ng-class="(err.msgType==true) ? 'justBorder' : '' " ng-focus="err.msgType=false;">
                        <option value="">Select Message Type</option>
                        <option value="Scroll">Scroll</option>
                        <option value="Fixed">Fixed</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger" ng-show="err.msgType">Please select message type.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-6">
                <label class="control-label " for="status">Status</label>
                <div>
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="scrollText.status"><span></span></label>
                    <span ng-show="scrollText.status">Active</span>
                    <span ng-hide="scrollText.status">InActive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="form-group form-actions">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelScrollText();" style="width:100px;"> Cancel</button>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveScrollText(scrollText);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateScrollText(scrollText);" style="width:100px; "> Update</button>
                </div>
            </div>
        </div>
    </form>
</div>
