<div class="block full">
    <div class="block-title">
        <h2><strong>Slot Booking List</strong></h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2 pull-right">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addSlot(slot);">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!slotBookingList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped export-table">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='slotBookId') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='slotBookId'; reverseSort = !reverseSort">Booking Id</a></th>
                    <th ng-class="(orderByField!='startDate') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='startDate'; reverseSort = !reverseSort">Start Date</a></th>
                    <th ng-class="(orderByField!='endDate') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='endDate'; reverseSort = !reverseSort">End Date</a></th>
                    <th ng-class="(orderByField!='slotTime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='slotTime'; reverseSort = !reverseSort">Start Time</a></th>
                    <th ng-class="(orderByField!='slotTime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='slotTime'; reverseSort = !reverseSort">End Time</a></th>
                    <th ng-class="(orderByField!='bookedDate') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='bookedDate'; reverseSort = !reverseSort">Booked Date </a></th>
                   <!--  <th ng-class="(orderByField!='locationId') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='locationId'; reverseSort = !reverseSort">Location</a></th> -->
                    <th ng-class="(orderByField!='videoId') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='videoId'; reverseSort = !reverseSort">video</a></th>
                    <th ng-class="(orderByField!='repeatsPerDay') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='repeatsPerDay'; reverseSort = !reverseSort">Repeats Per Day</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,slot) in slotBookingList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{slot.slotBookId}}</td>
                    <td>{{slot.startDate}}</td>
                    <td>{{slot.endDate}}</td>
                    <td>{{slot.startTime}}</td>
                    <td>{{slot.endTime}}</td>
                    <td>{{slot.bookedDate}}</td>
                    <!-- <td>{{slot.locationName}}</td> -->
                    <td>{{slot.videoName}}</td>
                    <td>{{slot.repeatsPerDay}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="editSlot(slot);" style="width:85px;"> Edit </button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteSlot(slot);" style="width:85px;">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!slotBookingList.length">
            <h3>No Slots has been added.</h3>
        </div>
        <div class="text-center" ng-show="slotBookingList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
